
/exercise3/alternative/CC_Ex3/CC_Ex3/bin
/exercise3/alternative/CC_Ex3/CC_Ex3/csx
/exercise3/alternative/CC_Ex3/CC_Ex3/obj
/exercise3/alternative/cc_ex3/MvcWebRole1/obj
/exercise3/alternative/cc_ex3/MvcWebRole1/bin
/exercise3/alternative/cc_ex3/Photobook/obj
/exercise3/alternative/cc_ex3/Photobook/bin
/exercise3/alternative/cc_ex3/Photobook_Data/bin
/exercise3/alternative/cc_ex3/Photobook_Data/obj